.text{
    font-family: arial, serif;
    font-size: 35px;
    font-weight: bold;
    margin: 20px 220px
}

.one{
position:absolute; 
margin: 20px 200px;
}


.one-item{
margin-bottom: 5px;
border: 4px #B0E0E6;
}

.one-title {
font-size: 25px;
width: 1000px;
height: 25px;
display:block;
padding: 15px 20px;
position:relative;
cursor:pointer; 

transition: 2s ease-out;

}


.one-title::after {
content: "";
display: block;
width: 0;
height: 0;
border-style: solid;
border-width: 10px 10px 0 10px;
border-color: #6980fe transparent transparent transparent;

position: absolute;
top: 50%;
right: 15px;

transform: translateY(-50%);
}


.one-title:hover {
background-color: #B0E0E6;
}

.one-input{
width: 0;
height: 0;
margin: 0 auto;

-webkit-appearance: none;
position: absolute;
}

.one-input:checked ~ .one-title {
background-color: #B0E0E6;
}

.one-input:checked ~ .one-title::after {
display: inline-block;
width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent #6980fe transparent;

}

.one-input:checked ~ .one-text {
display: block;
}

.one-text{
display: none;
margin: 1px 380px;
}

.picture {
width:500px;
 height:400px;
}

.line::after {
content: "";
display: block;
width: 1010px;
padding-top: 15px;
padding-bottom: 5px;
border-top: 2px solid #00008B;
opacity: 0.2;
}

@media screen and (min-width:820px) and (max-width:1180px) {
.text{
    font-size:45px;
    margin: 30px 130px;
}
.one{
    margin: 20px 110px;
}
.one-title{
font-size: 20px;
width: 600px;
height: 20px;
}
.one-text{
    margin: 1px 180px;
}
.line::after {
width: 610px;
}
.picture {
width:380px;
height:280px;
}
}

@media screen and (min-width:320px) and (max-width:568px) {
.text{
    font-size:30px;
    margin:20px 45px;
}
.one{
    margin: 10px 25px;
}
.one-title{
font-size: 15px;
width: 400px;
height: 10px;
}
.one-text{
    margin: 1px 125px;
}
.line::after {
width: 410px;
}
.picture {
width:200px;
height:100px;
}
}